# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
*.log

# Project specific
scratch/user_document.txt
scratch/run_server.py

# OS-specific
.DS_Store
Thumbs.db
